.card__section {
    padding: 50px 0 69px;
}

.card__title {
    color: #FFF;
    font-family: "Syne", sans-serif;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 30px;
    text-align: center;

    span {
        font-weight: 800;
    }
}

.card__text {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 20px;

    span {
        color: #FFF;
        font-variant-numeric: lining-nums proportional-nums;
        font-size: 18px;
        width: auto;
    }
}

.card__text-left {
    text-align: left;
    flex-shrink: 0;
}

.card__text-dots {
    width: 100% !important;
    flex-shrink: 1;
    display: inline-flex;
    border-bottom: 1px dotted #fff;
}

.card__text-right {
    text-align: right;
    font-weight: 600;
}

.card__text-5 .card__text-right {
    min-width: 242px;
}

.card__text-6 .card__text-right {
    min-width: 231px;
}

.card__text-11 .card__text-right {
    min-width: 312px;
}

.card__text-3 .card__text-right {
    flex-shrink: 0;
}

.card__text-7 .card__text-right {
    flex-shrink: 0;
}

.card__text-13 .card__text-right {
    flex-shrink: 0;
}

.card__text-14 .card__text-right {
    flex-shrink: 0;
}

.card__text-16 .card__text-right {
    flex-shrink: 0;
}

.card__text-17 .card__text-right {
    flex-shrink: 0;
}

.card__img {
    position: relative;
    margin-top: 90px;
    margin-bottom: 23px;
}

.card__prod {
    width: 100%;
    height: auto;
}

.card__icon {
    position: absolute;
}

.card__icon-1 {
    top: -26px;
    left: 125px;
}

.card__icon-2 {
    top: -46px;
    left: 210px;
}

.card__icon-3 {
    top: -26px;
    left: 293px;
}

.card__decor {
    position: absolute;
}

.card__decor-1 {
    filter: blur(2.5px);
    transform: scaleX(-1);
    top: -70px;
    left: -50px;
}

.card__decor-2 {
    filter: blur(2.5px);
    bottom: -20px;
    right: -40px;
}

.card__input-wrapper {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.card__input {
    width: 100%;
    height: auto;
    border-radius: 30px;
    background: linear-gradient(253deg, #FFF -16.85%, #D2D2D2 95.83%);
    padding: 20px;
    color: #25272E;
    text-align: center;
    font-size: 24px;
}

.card__submit {
    margin-top: 5px;
    cursor: pointer;
}