.galary__section {
    padding: 50px 0 35px;
    background: #FCC232;
}

.galary__title {
    color: #25272E;
    font-family: "Syne", sans-serif;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 35px;

    span {
        font-weight: 800;
    }
}

.video {
    width: 100%;
    height: 320px;
    background-image: url(../img/video-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    cursor: pointer;
    margin-bottom: 27px;
    display: flex;
    justify-content: center;
    align-items: center;

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 5;
    }
}

.galary__img {
    position: relative;
    margin-bottom: 40px;
}

.galary__prod {
    width: 100%;
    height: auto;
}

.galary__icon {
    position: absolute;
}

.galary__decor {
    position: absolute;
}

.galary__decor-1 {
    filter: blur(2.5px);
    transform: scaleX(-1);
    bottom: 0;
    right: -40px;
}

.galary__items {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.galary__item {
    width: 147px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
}

.galary__item-icon {
    margin-bottom: 10px;
}

.galary__item-text {
    color: #25272E;
    text-align: center;
    font-variant-numeric: lining-nums proportional-nums;
    font-family: "Syne", sans-serif;
    font-size: 18px;
    font-weight: 700;
}