@import "fonts";
@import "main";
@import "header";
@import "galary";
@import "bar";
@import "card";
@import "review";
@import "footer";
@import "modal";

@media (max-width: 1920px) {
    .discount__wrapper {
        overflow: visible;
    }
}

@media (max-width: 1480px) {
    .info__decor {
        top: -160px;
        left: -200px;
        width: 210px;
    }
    .info__boot {
        width: 460px;
        right: -280px;
        bottom: -300px;
    }
    .info__section-title {
        margin-bottom: 50px;
    }
}

@media (max-width: 1280px) {
    .container {
        width: 1000px;
    }
    .header__block {
        right: -514px;
        width: 500px;
        height: 500px;
    }
    .header__boot {
        width: 701px;
    }
    .header__flower-1 {
        width: 380px;
        bottom: -110px;
        left: -140px;
    }
    .header__flower-2 {
        width: 350px;
        right: -175px;
    }
    .header__decor-1 {
        width: 240px;
    }
    .header__decor-2 {
        top: -90px;
        left: 90px;
        width: 300px;
    }
    .header__decor-3 {
        width: 500px;
        right: -320px;
        bottom: -180px;
    }
    .header__content {
        width: 500px;
        padding: 30px 0 70px;
    }
    .header__title {
        font-size: 42px;
    }
    .header__text {
        font-size: 32px;
    }
    .header__discount {
        margin-bottom: 70px;
    }
    .header__logo {
        margin-bottom: 70px;
    }
    .info__img-1-wrapper {
        width: 480px;
    }
    .info__block {
        width: 470px;
        padding-top: 80px;
    }
    .info__img-2-wrapper {
        left: 550px;
        width: 700px;
    }
    .card__right {
        width: 440px;
        padding: 40px 30px 48px;
    }
    .card__left {
        padding: 50px 30px;
    }
    .card__input {
        padding: 15px;
    }
    .card__text {
        font-size: 18px;
    }
    .card__flower {
        bottom: -140px;
        left: -150px;
        width: 360px;
    }
    .card__decor {
        top: -115px;
        width: 300px;
        right: -140px;
    }
    .review__slider {
        padding: 0 80px;
    }
    .footer__boot {
        display: none;
    }
}



@media (max-width: 1080px) {
    .container {
        width: 700px;
    }
    .header__content {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px 0 50px;
        position: relative;
        z-index: 1;
    }
    .header__content:before {
        left: 50%;
        transform: translateX(-50%);
        top: 100px;
    }
    .header__block {
        position: relative;
        top: auto;
        right: auto;
        transform: none;
        margin-bottom: 30px;
        z-index: -1;
    }
    .header__logo {
        margin-bottom: 20px;
    }
    .header__title {
        text-align: center;
        margin-bottom: 20px;
        font-size: 48px;
    }
    .header__text {
        text-align: center;
        margin-bottom: 20px;
    }
    .header__discount {
        margin-bottom: 76px;
    }
    .header__flower-1 {
        width: 360px;
        bottom: -30px;
        left: -170px;
    }
    .header__decor, .footer__flower {
        width: 300px;
        top: -140px;
        left: -180px;
    }
    .header__decor-2 {
        top: -80px;
        left: 110px;
        width: 270px;
    }
    .info__advantages {
        flex-direction: column;
        align-items: center;
        margin-bottom: 40px;
    }
    .advantage {
        width: 100%;
        margin-bottom: 30px;

        &:last-child {
            margin-bottom: 0;
        }
    }
    .info__decor {
        display: none;
    }
    .info__boot {
        position: static;
        bottom: auto;
        right: auto;
        width: 100%;
        max-width: 400px;
    }
    .info__section-title {
        margin-bottom: 42px;
    }
    .info__item-1 {
        flex-direction: column;
        align-items: center;
    }
    .info__img-1-wrapper {
        width: 100%;
    }
    .info__block {
        width: 100%;
        padding-top: 41px;
    }
    .info__item-2 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .info__img-2-wrapper {
        position: static;
        bottom: auto;
        right: auto;
        margin-bottom: 42px;
        width: 100%;
    }
    .info__img-2 {
        border-radius: 50px;
    }
    .info__title-clone {
        display: block !important;
    }
    .info__title {
        text-align: center;
    }
    .info__list {
        margin-bottom: 50px;
        width: 100%;
        max-width: 100%;
    }
    .bar__title {
        font-size: 48px;
        margin-bottom: 42px;
    }
    .bar__boot-1 {
        position: static;
        bottom: auto;
        right: auto;
        margin-bottom: 50px;
    }
    .bar__boot-2 {
        display: none;
    }
    .bar__section-wrapper {
        padding: 80px 0 80px;
    }
    .card {
        flex-direction: column;
        align-items: center;
    }
    .card__left {
        width: 100%;
        padding: 50px;
    }
    .card__right {
        width: 100%;
        padding: 40px 50px 48px;
    }
    .card__header {
        flex-direction: column;
        align-items: center;
    }
    .card__title {
        margin: 0;
        margin-bottom: 7px;
    }
    .card__rating {
        justify-content: center;
    }
    .price {
        justify-content: center;
    }
    .old__price {
        margin-left: 0px;
    }
    .card__flower {
        bottom: -140px;
        left: -150px;
        width: 300px;
    }
    .card__photo:hover {
        transform: none;
    }
    .review__slider {
        padding: 0;
    }
    .owl-nav {
        position: static;
        top: auto;
        left: auto;
        transform: none;
        margin-top: 30px;
    }
    .owl-dots {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -30px;
        margin-bottom: 17px;

        button {
            width: 10px;
            height: 10px;
            border: 2px solid #1053FF !important;
            border-radius: 100%;
            margin-right: 10px;

            &:last-child {
                margin-right: 0;
            }

            &.active {
                background-color: #1053FF !important;
            }
        }
    }
    .add__review {
        margin: 0;
        align-self: center;
    }
    .review__section-title {
        margin-bottom: 42px;
    }
    .footer__flower {
        top: -100px;
    }
}




@media (max-width: 700px) {
    .container {
        width: calc(100vw - 30px);
    }
   
}



@media (max-width: 540px) {
    .header__decor, .footer__flower {
        width: 53.5vw;
        top: -28vw;
        left: -30vw;
    }
    .header__content {
        padding: 7vw 0 12vw;
    }
    .header__logo {
        height: 12vw;
        margin-bottom: 4.8vw;
    }
    .header__title {
        margin-bottom: 4.8vw;
        font-size: 7.5vw;
    }
    .header__text {
        font-size: 6vw;
        margin-bottom: 4.8vw;
    }
    .header__discount {
        margin-bottom: 17vw;
    }
    .header__block {
        width: 77.5vw;
        height: 77.5vw;
        margin-bottom: 7.5vw;
        margin-right: 5vw;
    }
    .header__boot {
        width: 136%;
    }
    .header__flower-1 {
        width: 75%;
        bottom: -3%;
        left: -36%;
    }
    .header__flower-2 {
        width: 65%;
        right: -34%;
        top: -4%;
    }
    .header__decor-1 {
        width: 42%;
        top: -9%;
        left: -3%;
    }
    .header__decor-2 {
        top: -16%;
        left: 17%;
        width: 57%;
    }
    .header__decor-3 {
        width: 76%;
        right: -42%;
        bottom: -22%;
    }
    .order__btn {
        border-radius: 4.8vw;
        padding: 4.8vw;
        font-size: 4.8vw;
    }
    .header__date {
        font-size: 4.5vw;
        margin-top: 1.8vw;
    }
    .info__section-title {
        margin-bottom: 10vw;
        font-size: 8vw;
    }
    .info__section-wrapper {
        padding: 10vw 0 12vw;
    }
    .advantage {
        padding: 7.5vw 6vw;
    }
    .advantage img {
        height: 12vw;
        margin-bottom: 5vw;
    }
    .advantage__title {
        font-size: 5.5vw;
        margin-bottom: 1.5vw;
    }
    .advantage__text {
        font-size: 4.8vw;
    }
    .advantage {
        margin-bottom: 6vw;
    }
    .info__boot {
        margin-top: -4vw;
    }
    .info__advantages {
        margin-bottom: 5vw;
    }
    .info__title {
        font-size: 7.5vw;
        margin-bottom: 10vw;
    }
    .info__img-1 {
        border-radius: 7.5vw;
    }
    .info__flower {
        width: 49vw;
        bottom: 1.5vw;
        left: -19vw;
    }
    .info__block {
        padding-top: 10vw;
    }
    .info__text {
        font-size: 4.8vw;
        margin-bottom: 3vw;
    }
    .info__item-1 {
        margin-bottom: 10vw;
    }
    .info__img-2 {
        border-radius: 7.5vw;
    }
    .info__img-2-wrapper {
        margin-bottom: 10vw;
    }
    .info__list-check {
        flex-shrink: 0;
    }
    .info__list-item {
        margin-bottom: 3vw;
        font-size: 5.5vw;
    }
    .info__list {
        margin-bottom: 10vw;
    }
    .info__list-check {
        width: 9.5vw;
        height: 9.5vw;
        margin-right: 4.8vw;
    }
    .discount__wrapper {
		width: 924px;
		padding: 0px;
        margin-bottom: 7.5vw;
	}
	.discount__block {
		border-radius: 22px;
		margin-right: 21px;
		width: 114px;
		height: 114px;

		div {
			font-size: 37px;
		}
	}
	.discount__block-1, 
	.discount__block-2 {
		background-size: contain;
	}
	@keyframes bar {
		0% {
			transform: translateX(0);
		}
		100% {
			transform: translateX(-409%);
		}
	}
    .bar__section-wrapper {
        padding: 10vw 0;
    }
    .bar__title {
        font-size: 7.5vw;
        margin-bottom: 5vw;
    }
    .bar__boot-1 {
        width: 90%;
        margin-bottom: 5vw;
    }
    .bar__text {
        font-size: 4.5vw;
        margin-top: 3vw;
    }
    .bar__section {
        background: linear-gradient(162.75deg, #E04B8D 0%, #4C44CA 100%);
    }
    .card__section-title {
        font-size: 9vw;
        margin-bottom: 2vw;
    }
    .card__section-text {
        font-size: 7.5vw;
        margin-bottom: 10vw;
    }
    .card__decor {
        top: -8vw;
        width: 44vw;
        right: -16vw;
    }
    .card {
        border-radius: 12vw;
    }
    .card__left {
        padding: 10vw 4.8vw 0;
        align-items: center;
    }
    .card__boot {
        width: 118%;
        margin-left: -8vw;
        margin-top: -12vw;
        margin-bottom: -10vw;
        transform: rotate(15deg);
    }
    .card__photos {
        flex-wrap: wrap;
    }
    .card__photo {
        margin-bottom: 4.8vw;
        width: 29.5%;
    }
    .card__logo {
        height: 12vw;
        width: auto;
    }
    .card__right {
        padding: 2.5vw 4.8vw 6vw;
    }
    .card__title {
        font-size: 8vw;
        margin-bottom: 1.5vw;
    }
    .card__header {
        margin-bottom: 1vw;
    }
    .card__price {
        margin-bottom: 1vw;
    }
    .old__price {
        font-size: 4.8vw;
        margin-right: 6vw;
    }
    .new__price {
        font-size: 8vw;
    }
    .card__text {
        font-size: 4.8vw;
    }
    .card__form {
        padding-top: 5vw;
    }
    .card__input {
        padding: 4vw;
        font-size: 4.5vw;
    }
    .card__flower {
        bottom: -23vw;
        left: -23vw;
        width: 60vw;
    }
    .delivery {
        flex-direction: column;
        align-items: center;
        padding: 8vw 4.8vw 5.5vw;
    }
    .delivery__icon {
        margin: 0;
        margin-bottom: 2vw;
    }
    .delivery__text {
        font-size: 4.8vw;
        text-align: center;
    }
    .card__wrapper {
        margin-bottom: 12vw;
    }
    .card__section-wrapper {
        padding: 0 0 17vw;
    }
    .review__section-title {
        font-size: 8vw;
        margin-bottom: 10vw;
    }
    .review__text {
        font-size: 4.5vw;
        margin-bottom: 2vw;
    }
    .review__name {
        font-size: 4.5vw;
        margin-bottom: 3vw;
    }
    .review__slide {
        border-radius: 8vw;
        padding: 8vw;
    }
    .owl-nav {
        margin-top: 8vw;
    }
    .review__section-wrapper {
        padding-bottom: 11vw;
    }
    .footer__flower {
        width: 48.5vw;
        top: -16vw;
        left: -28vw;
    }
    .footer__section {
        background: none;
        position: relative;

        &:before {
            content: "";
            width: 1920px;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: linear-gradient(270deg, #45C0E9 0%, #EBFEBE 50%, #45C0E9 79.69%);
        }
    }
    .footer__section-wrapper .header__content {
        padding: 12vw 0;
    }
    .footer__line {
        background: #43B5DB;
    }
    .fancybox-content {
        padding: 44px 20px;
    }
}