.footer__line {
    background: rgba(0, 0, 0, 0.5);

    .container {
        min-height: auto;
    }
}

.footer__line-wrapper {
    padding: 15px 0;
}

.footer__line-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.footer__line-item {
    color: rgba(227, 227, 227, 0.5);
    text-align: center;
    font-size: 14px;
    font-weight: 400;

    a:hover {
        text-decoration: underline;
    }
}