.card__section {
}

.card__section-wrapper {
    padding: 100px 0 134px;
}

.card__section-title {
    color: #252525;
    text-align: center;
    font-size: 64px;
    font-weight: 900;
    letter-spacing: 6.4px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card__1 {
    margin-bottom: 205px;
}

.card__galary {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 695px;
    position: relative;
}

.card__boot {
    width: 758px;
    height: auto;
    // border: 1px solid black;
    margin-bottom: -30px;
}

.card__boot-img {
    width: 100%;
    height: auto;
    position: relative;
    z-index: 2;
    margin-left: 50px;
}

.card__bg {
    position: absolute;
    width: 1378px;
    height: auto;
    top: 43%;
    left: 60%;
    transform: translate(-50%, -50%);
}

.card__photos {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 1;

    a {
        width: 24.5%;

        img {
            width: 100%;
            height: auto;
        }
    }
}

.card__content {
    width: 440px;
    height: auto;
    flex-shrink: 0;
    position: relative;
    z-index: 2;

    svg {
        width: 100%;
        height: auto;
        margin-bottom: 10px;
    }
}

.card__title {
    color: #252525;
    text-align: right;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 2.6px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.card__info {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 10px;
}

.card__info-text {
    flex-shrink: 0;
    color: #252525;
    font-size: 18px;
    font-weight: 400;
}

.card__divider {
    border-bottom: 1px dotted #252525;
}

.card__info-bold {
    text-align: right;
    font-weight: 600;
}

.price {
    width: auto;
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    flex-shrink: 0;
}

.old__price {
    color: #252525;
    font-size: 18px;
    font-weight: 400;
    text-decoration: line-through;
    margin-right: 10px;
}

.new__price {
    color: #0D2376;
    font-size: 26px;
    font-weight: 700;
}

.card__form {
    width: 100%;
    height: auto;
    margin-top: 20px;

    .header__date {
        margin-top: 10px;
    }
}

.card__input-wrapper {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.card__input {
    width: 100%;
    height: auto;
    color: #252525;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    padding: 14px;
    border: 1px solid #C4C4C4;
}

.card__select-wrapper {
    position: relative;

    &:before {
        content: '';
        width: 50px;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        background-color: #C4C4C4;
        background-image: url(../img/tringle-hover.png);
        background-position: center;
        background-size: 12px auto;
        background-repeat: no-repeat;
        transform: rotate(-90deg);
        pointer-events: none;
    }
}

.card__submit {
    width: 100%;
    cursor: pointer;
    text-align: center;
    justify-content: center;

    span {
        margin: 0;
        font-size: 20px;
        letter-spacing: 4px;
        font-weight: 700;
    }
}

.card__2 {
    margin-bottom: 98px;
    
    svg {
        transform: scaleX(-1);
    }

    .card__title {
        text-align: left;
    }

    .card__bg {
        transform: translate(-50%, -50%) scaleX(-1);
        top: 27%;
        left: 50%;
    }

    .card__boot-img {
        margin-left: 30px;
    }

    .card__boot {
        width: 750px;
        margin-bottom: -30px;
    }
}

.card__3 {
    margin-bottom: 207px;

    .card__select {
        display: none;

        &.active {
            display: block;
        }
    }
    .card__boot {
        width: 406px;
        height: auto;
        margin-bottom: 20px;
    }

    .card__photos {
        a {
            position: relative;
            height: 110px;
            overflow: hidden;

            img {
                width: 100%;
                height: auto;
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
            }
        }
    }
}

.card__male {
    width: auto;
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    color: #252525;
    font-size: 18px;
    font-weight: 400;
}

.card__male-btn {
    cursor: pointer;
    transition: 0.3s ease;

    &.active {
        font-weight: 600;
        text-decoration: underline;
    }
}

.sprey {
    width: 850px;
    height: auto;
    margin: auto;
    position: relative;
    padding: 30px 0 42px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;

    &:before {
        content: "";
        position: absolute;
        width: 1877px;
        height: 100%;
        top: 0;
        left: 46%;
        transform: translateX(-50%);
        background-image: url(../img/sprey-bg.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        z-index: -1;
    }
}

.sprey__title {
    color: #252525;
    font-size: 48px;
    font-weight: 700;
    letter-spacing: 4.8px;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.sprey__text {
    color: #252525;
    text-align: center;
    font-size: 26px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.sprey__price {
    .price {
        width: auto;
        display: flex;
        justify-content: center;
        align-items: baseline;
    }

    .old__price {
        text-decoration: line-through;
        margin-right: 26px;
    }
    
    .new__price {
        color: #DC1C37;
        font-size: 48px;
        font-weight: 700;
    }
}

.sprey__price-text {
    width: auto;
    color: #252525;
    font-size: 18px;
    font-weight: 400;
}

.sprey__img {
    position: absolute;
    top: 30%;
    right: -300px;
    transform: translateY(-50%);
    width: 341px;
    height: auto;
}
