@import "fonts";
@import "main";
@import "modal";
@import "header";
@import "info";
@import "prod-1";
@import "prod-2";
@import "prod-3";
@import "footer";


@media (max-width: 1480px) {
    .header_content {
        width: 660px;
    }
    .header_title {
        font-size: 38px;
    }
    .header_text {
        font-size: 18px;
    }
    .header_img__prod {
        width: 800px;
    }
    .header_img__wrapper {
        bottom: 125px;
        left: -520px;
    }
    .header_img__girl {
        left: -58px;
        width: 350px;
    }
    .header_leafs {
        width: 400px;
        top: 80px;
        right: -370px;
    }
}

@media (max-width: 1280px) {
    .container {
        width: 1000px;
    }
    .header_content {
        width: 600px;
    }
    .header_title {
        font-size: 34px;
    }
    .header_img__prod {
        width: 700px;
    }
    .header_img__wrapper {
        bottom: 180px;
        left: -460px;
    }
    .header_img__girl {
        left: -58px;
        width: 320px;
    }
    .header_leafs {
        width: 340px;
        top: 130px;
        right: -290px;
    }
    .header_block__title {
        font-size: 34px;
    }
    .header_block__text {
        font-size: 18px;
        margin-bottom: 92px;
    }
    .header_block__item {
        padding: 0 20px 20px;
    }
    .header_block__item-title {
        font-size: 18px;
        margin-bottom: 12px;
    }
    .header_block__item {
        justify-content: space-between;
    }
    .header_block__leafs {
        width: 400px;
        top: -180px;
        left: -290px;
    }
    .header_block__item-text {
        font-size: 16px;
    }
    .info_item {
        width: 320px;
    }
    .info_item__text {
        padding: 0 15px;
        font-size: 16px;
    }
    .info_girl {
        width: 370px;
    }
    .prod_1__info-img {
        width: 400px;
    }
    .prod_1__info-title {
        font-size: 34px;
    }
    .prod_1__info-2-img {
        width: 520px;
    }
    .prod_1__info-2-girl {
        width: 100%;
        border-radius: 0 0 50px 0;
    }
    .prod_1__advantage-left {
        width: 340px;
    }
    .prod_1__advantage-list {
        width: 300px;
        padding: 25px 15px 25px 20px;
        right: -210px;
    }
    .prod_1__advantage-list-item {
        font-size: 18px;
    }
    .prod_1__decor-4 {
        top: -30px;
        left: 380px;
    }
    .prod_1__advantage-right {
        width: 420px;
    }
    .prod_1__info-text {
        font-size: 18px;
    }
    .review_slide {
        padding: 33px 30px 30px;
    }
    .prod_1__card-wrapper {
        width: 480px;
    }
    .prod_1__card-title {
        font-size: 30px;
    }
    .prod_1__card-prod {
        width: 430px;
    }
    .prod_2__advantage-column {
        width: 280px;
    }
    .prod_2__advantage-text {
        font-size: 17px;
    }
    .prod_2__info-text-red {
        br {
            display: none;
        }
    }
    .prod_2 .prod_1__info-text {
        text-align: left;
    }
    .prod_2__info img {
        width: 100%;
        max-width: 360px;
        position: static;
        right: auto;
        top: auto;
        margin: auto;
        margin-bottom: 23px;
    }
    .prod_2__info {
        padding: 50px 30px 23px;
        position: relative;
        z-index: 1;
        border-radius: 50px 0px;
        border: 1px solid rgba(88, 33, 99, 0.30);
        background: #F1CCF8;

        &:before {
            display: none;
        }
    }
    .prod_2__advantages {
        margin-top: 80px;
        margin-bottom: 68px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .prod_2__advantage-prod {
        width: 100%;
        max-width: 418px;
        top: auto;
        left: auto;
        transform: none;
        position: static;
        margin: auto;
        margin-bottom: 20px;
    }
    .prod_2__advantage-column {
        width: 42%;
    }
    .prod_2__advantages .header_wrapper {
        position: static;
        bottom: auto;
        left: auto;
        transform: none;
        margin: auto;
    }
    .comparison_item {
        width: 100%;
        max-width: 480px;
        margin-bottom: 30px;

        &:last-child {
            margin-bottom: 0;
        }
    }
    .comparison_items {
        flex-direction: column;
        align-items: center;
    }
    .prod_2 .prod_1__info-title {
        &:before {
            display: none;
        }
    }
}

@media (max-width: 1080px) {
    .container {
        width: 700px;
    }
    .header_content {
        width: 100%;
        align-items: center;
    }
    .header_title {
        text-align: center;
    }
    .header_logo {
        position: static;
        top: auto;
        left: auto;
        margin-bottom: 30px;
    }
    .header_text {
        text-align: center;
    }
    .header_img__wrapper {
        position: relative;
        width: auto;
        bottom: auto;
        left: auto;
        margin-top: 150px;
    }
    .header_leafs {
        width: 340px;
        top: 260px;
        right: -100px;
        transform: rotate(-30deg) scaleX(-1);
    }
    .header_decor__1 {
        bottom: auto;
        top: 50px;
        right: -60px;
    }
    .header_decor__4 {
        bottom: auto;
        top: 50px;
        right: auto;
        left: -50px;
    }
    .header_decor__5 {
        bottom: auto;
        right: auto;
        top: 300px;
        left: 300px;
    }
    .header_block__item {
        width: 100%;
        margin-bottom: 100px;
        padding: 0 30px 30px;

        &:last-child {
            margin-bottom: 0;
        }
    }
    .header_block__items {
        flex-wrap: wrap;
    }
    .header_block__item-title {
        font-size: 20px;
        margin-bottom: 12px;
    }
    .header_decor__3 {
        bottom: 507px;
        right: -45px;
        transform: rotate(15deg);
    }
    .header_block__leafs {
        top: -100px;
        left: auto;
        right: -160px;
        z-index: -1;
    }
    .info_title {
        font-size: 36px;
        margin-bottom: 15px;

        br {
            display: none;
        }
    }
    .info_text {
        font-size: 20px;
        margin-bottom: 43px;
    }
    .info_girl {
        position: static;
        left: auto;
        bottom: auto;
        transform: none;
        margin-bottom: -30px;
        margin-left: 30px;
    }
    .info_items {
        flex-direction: column;
    }
    .info_item {
        width: 100%;
    }
    .info_item__text {
        padding: 0 20px;
        font-size: 18px;
    }
    .info_items__col {
        width: 100%;
    }
    .prod_1__info {
        flex-direction: column;
        align-items: center;
    }
    .prod_1__info-img {
        width: 100%;
        // max-width: 500px;
        margin-right: 0;
        margin-bottom: 24px;
    }
    .prod_1__info-title {
        text-align: center;
    }
    .prod_1__info-text {
        text-align: center;
    }
    .prod_1__info-title-1 {
        position: relative;

        &:before {
            content: "";
            position: absolute;
            bottom: -74px;
            left: -77px;
            width: 164px;
            height: 76px;
            background-image: url(../img/header-leaf-1.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }
    }
    .prod_1__decor-1 {
        display: none;
    }
    .prod_1__info {
        margin-bottom: 73px;
    }
    .prod_1__info_2 {
        flex-direction: column;
        align-items: center;
        position: relative;
    }
    .prod_1__info-2-img {
        width: 100%;
        height: auto;
        padding-top: 40px;
    }
    .prod_1__info-2-girl {
        position: relative;
        transform: none;
        left: auto;
    }
    .prod_1__info_2 .prod_1__info-text {
        padding: 43px 30px;
    }
    .prod_1__info-text {
        font-size: 20px;
    }
    .prod_1__decor-2 {
        display: none;
    }
    .prod_1__decor-3 {
        bottom: auto;
        left: auto;
        top: -75px;
        right: -60px;
        width: 140px;
    }
    .prod_1__info-item-wrapper {
        width: 100%;
    }
    .prod_1__info_2 {
        margin-bottom: 100px;
    }
    .info__title-clone {
        display: block !important;
    }
    .prod_1__advantage {
        flex-direction: column;
        align-items: center;
    }
    .prod_1__advantage-left {
        width: 384px;
    }
    .prod_1__advantage-list {
        width: 339px;
        padding: 31px 25px 31px 30px;
        position: relative;
        transform: none;
        top: auto;
        right: auto;
        margin: auto;
        margin-top: -50px;
        margin-bottom: 23px;
    }
    .prod_1__advantage-list-item {
        font-size: 20px;
    }
    .prod_1__advantage-right {
        width: 100%;
    }
    .prod_1__advantage-right .header_wrapper {
        margin-top: 0;
        margin: auto;
    }
    .prod_1__advantage-right .prod_1__info-text {
        margin-bottom: 16px;
    }
    .prod_1__compound {
        width: 100%;
        max-width: 100%;
        height: 845px;
        margin-top: -50px;
        // margin-bottom: 70px;
    }
    .prod_1__compound-img {
        width: 140px;
        height: 140px;
        padding: 5px;
    }
    .prod_1__compound-text {
        font-size: 20px;
    }
    .prod_1__compound-prod {
        width: 360px;
    }
    .prod_1__decor-5 {
        display: none;
    }
    .prod_1__card-wrapper {
        width: 100%;
    }
    .prod_1__card-prod {
        position: static;
        top: auto;
        right: auto;
        width: 100%;
        margin-bottom: 16px;
    } 
    .card_form {
        position: static;
        bottom: auto;
        right: auto;
        margin: auto;
        margin-bottom: 21px;
    }
    .prod_1__card-title {
        text-align: center;
    }
    .prod_1__card-price {
        justify-content: center;
    }
    .card_info {
        justify-content: center;
    }
    .prod_1__card {
        margin-top: 78px;
    }
    .prod_1__decor-7 {
        top: -35px;
        right: -45px;
    }
    .prod_1__decor-8 {
        bottom: -30px;
        left: -55px;
        z-index: -1;
    }
}

@media (max-width: 700px) {
    .container {
        width: calc(100vw - 30px);
    }
}

@media (max-width: 540px) {
    .header_content {
        padding: 7vw 0 20vw;
    }
    .header_logo {
        margin-bottom: 7vw;
        width: 26vw;
    }
    .header_title {
        font-size: 7vw;
        margin-bottom: 7vw;
    }
    .header_img__wrapper {
        width: 125vw;
        align-self: flex-end;
        margin-top: 30vw;
    }
    .header_img__prod {
        width: 100%;
    }
    .header_img__girl {
        left: 41%;
        width: 51vw;
        bottom: 19vw;
    }
    .header_decor__1 {
        top: 9vw;
        right: -10vw;
        width: 39vw;
    }
    .header_decor__4 {
        top: 7vw;
        left: 0;
        width: 19vw;
    }
    .header_decor__5 {
        top: 78vw;
        left: 5vw;
        width: 22vw;
    }
    .header_leafs {
        width: 56vw;
        top: 67vw;
        right: -22vw;
    }
    .header_text {
        font-size: 4.5vw;
        margin-bottom: 3vw;
    }
    .header_wrapper__text {
        font-size: 4.8vw;
        margin-bottom: 3vw;
    }
    .order_btn {
        padding: 4.8vw;
        font-size: 4.8vw;
    }
    .header_info {
        margin-top: 2vw;
        font-size: 4.3vw;
    }
    .header_info img {
        height: 4.5vw;
        margin-right: 2vw;
    }
    .header_block__title {
        font-size: 7vw;
        margin-bottom: 3.5vw;

        br {
            display: none;
        }
    }
    .header_block__text {
        font-size: 4.5vw;
        margin-bottom: 22vw;
    }
    .header_block__item {
        margin-bottom: 23vw;
        padding: 0 7vw 7vw;
    }
    .header_block__prod {
        max-width: 120%;
        max-height: 53vw;
        margin-top: -13vw;
        margin-bottom: 2vw;
    }
    .header_block__item-title {
        font-size: 4.8vw;
        margin-bottom: 4.8vw;
    }
    .header_block__item .new__price {
        font-size: 5.5vw;
        margin-bottom: 5vw;
    }
    .header_block__item-text {
        font-size: 4.5vw;
        margin-bottom: 6vw;
    }
    .header_block__item-btn {
        padding: 4vw;
        font-size: 4.5vw;
    }
    .header_block__leafs {
        width: 120vw;
        top: -22vw;
        right: -45vw;
    }
    .header_block {
        padding-bottom: 12vw;
    }
    .header_decor__3 {
        width: 37vw;
        bottom: 150vw;
        right: -10vw;
    }
    .info_section__wrapper {
        padding: 10vw 0 7vw;
    }
    .info_title {
        font-size: 7vw;
        margin-bottom: 3.5vw;
    }
    .info_text {
        font-size: 4.5vw;
        margin-bottom: 7vw;
    }
    .info_girl {
        width: 76vw;
        margin-left: 8vw;
        margin-bottom: -7vw;
    }
    .info_item {
        height: 23vw;
        border-radius: 12vw 0px;
        margin-bottom: 4.8vw;
    }
    .info_item__icon {
        width: 23vw;
        border-radius: 12vw 0px;
    }
    .info_item__icon img {
        width: auto;
        height: 12vw;
    }
    .info_item__text {
        padding: 0 4.8vw;
        font-size: 4.5vw;
    }
    .prod_section__wrapper {
        padding: 10vw 0 12vw;
    }
    .prod_1__info-title {
        font-size: 7.2vw;
        margin-bottom: 10vw;
    }
    .prod_1__info-img {
        margin-bottom: 5.5vw;
    }
    .prod_1__info-title-1:before {
        bottom: -18vw;
        left: -18vw;
        width: 39vw;
        height: 18vw;
    }
    .prod_1__info-text {
        font-size: 4.5vw;
    }
    .prod_1__info {
        margin-bottom: 18vw;
    }
    .prod_1__info_2 .prod_1__info-text {
        padding: 10vw 7vw;
        text-align: left;
    }
    .prod_1__info-item {
        width: 19.3vw;
        font-size: 4vw;
        padding: 1vw;
    }
    .prod_1__info-2-img {
        padding-top: 4.8vw;
    }
    .prod_1__info_2 {
        margin-bottom: 22vw;
    }
    .prod_1__decor-4 {
        top: -8vw;
        left: -10vw;
        width: 31vw;
    }
    .prod_1__advantage-list-item {
        font-size: 4.5vw;
    }
    .prod_1__advantage-list {
        width: 82vw;
        padding: 7vw 5.5vw 7vw 7vw;
        margin-top: -12vw;
        margin-bottom: 5vw;
    }
    .prod_1__advantage-right .prod_1__info-text {
        text-align: left;
        margin-bottom: 4vw;
    }
    .prod_1__compound {
        width: 100%;
        max-width: 100%;
        height: auto;
        margin-top: -50px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        padding-top: 30vw;
        margin-top: -12vw;
        margin-bottom: 18vw;

        &:before {
            content: "";
            width: 52vw;
            height: 62vw;
            background-image: url(../img/prod-1-decor-2.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            position: absolute;
            top: 15vw;
            left: 3vw;
            transform: scaleX(-1);
        }
    }
    .prod_1__compound-prod {
        position: relative;
        transform: none;
        width: 68vw;
        margin-bottom: 12vw;
        left: auto;
        top: auto;
    }
    .prod_1__compound {
        background-position: top center;
    }
    .prod_1__compound-item {
        position: static;
        width: 50%;
        margin-bottom: 8vw;

        &:last-child {
            margin-bottom: 0;
        }
    }
    .review_title {
        font-size: 7.5vw;
        margin-bottom: 10vw;
    }
    .review_btns {
        position: static;
        transform: none;
        top: auto;
        margin-top: -30px;
    }
    .review_slider {
        width: 100%;
        margin: auto;
    }
    .add_review {
        margin: 0;
        align-self: center;
        margin-top: -8px;
    }
    .owl-dots {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;

        button {
            width: 10px;
            height: 10px;
            border-radius: 100%;
            background: #005900 !important;
            border: 2px solid #005900 !important;
            margin-right: 10px;
            transition: 0.3s ease;

            &:last-child {
                margin-right: 0;
            }

            &.active {
                background: #fff !important;
            }
        }
    }
    .review_btn {
        position: relative;
        z-index: 1;
    }
    .review_slide {
        padding: 5.5vw 7vw 7vw;

        svg {
            width: 12.8vw;
            height: auto;
        }
    }
    .review_slide__text {
        font-size: 4.5vw;
        margin-bottom: 4.8vw;
    }
    .review_slide__name {
        font-size: 4.5vw;
        margin-bottom: 3vw;
    }
    .prod_1__decor-6 {
        left: -10vw;
        top: -50vw;
        width: 39vw;
    }
    .prod_1__compound-text {
        font-size: 5.5vw;
    }
    .prod_1__card-title {
        font-size: 7.2vw;
        margin-bottom: 5vw;
    }
    .prod_1__card {
        padding: 10vw 7vw 5vw;
    }
    .prod_1__card-prod {
        width: calc(100vw - 32px);
        margin-bottom: 4vw;
    }
    .prod_1__card-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .prod_1__card-new-price {
        font-size: 8.5vw;
    }
    .prod_1__card-rating {
        margin-right: 0;
    }
    .card_list {
        align-self: flex-start;
        margin-bottom: 4vw;
    }
    .prod_1__card-price {
        margin-bottom: 3vw;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 100%;
        gap: 3vw;
    }
    .card_list__item {
        font-size: 4.8vw;
    }
    .card_form {
        width: 100%;
        margin-bottom: 5vw;

        .header_info {
            margin-top: 2vw;
            font-size: 3.8vw;
        }
    }
    .card_input__wrapper {
        height: 12vw;
    }
    .card_input__icon {
        width: 13vw;

        img {
            width: 40%;
            height: auto;
        }
    }
    .card_input {
        padding: 0 3.5vw;
        font-size: 4.5vw;
    }
    .card_info img {
        width: 7.5vw;
        margin-right: 3vw;
    }
    .card_info {
        font-size: 4.1vw;
        justify-content: flex-start;
    }
    .prod_1__decor-8 {
        width: 21vw;
        bottom: -5vw;
        left: -12vw;
    }
    .prod_1__compound-img {
        width: 41vw;
        height: 41vw;
        padding: 2.3vw;
    }
    .prod_2__info img {
        width: 93%;
        margin-bottom: 5vw;
    }
    .prod_2__info {
        padding: 12vw 7vw 5.5vw;
    }
    .prod_2__text {
        font-size: 4.5vw;
    }
    .prod_2__advantages {
        margin-top: 19vw;
        margin-bottom: 17vw;
    }
    .prod_2__advantage-column {
        width: 100%;
    }
    .prod_2__advantage {
        align-items: center;
        margin-bottom: 10vw;
    }
    .prod_2__advantage-title {
        text-align: center !important;
        font-size: 5.5vw;
        margin-bottom: 3vw;
    }
    .prod_2__advantage-text {
        font-size: 4.5vw;
        text-align: center !important;
    }
    .comparison_title {
        font-size: 7vw;
        margin-bottom: 2.5vw;
    }
    .comparison_text {
        font-size: 5.5vw;
        margin-bottom: 9vw;
    }
    .comparison_item {
        justify-content: space-around;
    }
    .comparison_item__jaw {
        width: 25vw;
        height: 10vw;
        border-radius: 0px 0px 4.8vw 4.8vw;
        font-size: 4.8vw;
    }
    .comparison_item {
        margin-bottom: 7vw;
    }
    .prod_2__comparison {
        padding-bottom: 17vw;
    }
    .prod_2__info-text-red {
        font-size: 5.5vw;
        margin-top: 3vw;
    }
}