.footer__section {
    background: linear-gradient(103.34deg, #FA79A1 0%, #F33B74 100%);
}

.review__section {
    padding: 90px 0px 115px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 2;
}

.review__section-title {
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 90px;
}

.reviews {
    width: 100%;
    height: auto;
    position: relative;
}

.review {
    width: 100%;
    height: auto;
    background: #FFEAF7;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.review__img-wrapper {
    position: relative;
    width: 458px;
    height: auto;
    flex-shrink: 0;
    border: 5px solid #A70A43;
    border-radius: 50px 0px 0px 50px;
    overflow: hidden;
}

.review__img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: 100%;
}

.review__block {
    padding: 24px 50px 95px 30px;
}

.review__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 11px;
}

.review__name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1;
    color: #D31342;
}

.review__raiting {
    display: flex;

    img {
        width: 18px;
        height: 18px;
        margin-right: 2px;

        &:last-child {
            margin-right: 0;
        }
    }
}

.review__massege {
    font-size: 18px;
    line-height: 1.5;
    color: #222222;
    margin-bottom: 8px;
}

.review__info {
    width: 100%;
    max-width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    font-weight: 500;
    font-size: 20px;
    color: #640523;
}

.owl-nav {
    width: 602px;
    height: auto;
    position: absolute;
    z-index: 5;
    bottom: 31px;
    right: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    pointer-events: none;

    button {
        width: 40px;
        height: 40px;
        border-radius: 100%;
        background-image: url(../img/arrow.png), linear-gradient(180deg, #DC155D 0%, #A70A43 100%) !important;
        background-repeat: no-repeat !important;
        background-position: center !important;
        cursor: pointer;
        pointer-events: auto;

        span {
            display: none;
        }
    }

    .owl-next {
        transform: rotate(180deg);
        background-image: url(../img/arrow.png), linear-gradient(0deg, #DC155D 0%, #A70A43 100%) !important;
    }
}

.owl-dots {
    position: absolute;
    right: 326px;
    bottom: 46px;

    button {
        border-radius: 100%;
        border: 2px solid #A70A43 !important;
        margin-right: 10px;
        width: 10px;
        height: 10px;

        &:last-child {
            margin-right: 0;
        }

        &.active {
            border: none !important;
            background: linear-gradient(180deg, #DC155D 0%, #A70A43 100%);
        }
    }
}

.add__review {
    font-size: 16px;
    line-height: 1;
    color: #FFFFFF;
    align-self: flex-end;
    margin-right: 50px;
    margin-top: 10px;
    text-decoration: underline;
    cursor: pointer;
}

.footer__section-wrapper {
    position: relative;
    z-index: 1;


    .header__card {
        margin-bottom: 100px;
    }

    .header__decor-1 {
        position: absolute;
        left: -532px;
        top: -296px;
        z-index: -1;
        width: 821px;
        height: auto;
    }
}

.footer__line {
    width: 100%;
    height: auto;
    background: rgba(0, 0, 0, 0.2);
}

.footer__line-wrapper {
    padding: 17px 0;
}

.footer-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    line-height: 1.2;
    text-align: center;
    color: #F1F1F1;

    a {
        text-decoration: underline;
    }
}