.header__section {
    width: 100%;
    height: auto;
}

.header__section-wrapper {
    width: 100%;
    height: auto;
    padding: 30px 0;
}

.header__img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 5px;
}

.header__title {
    font-size: 21px;
    text-align: center;
    padding: 0 20px;
}

.header__text {
    font-size: 16px;
    margin-bottom: 20px;
}

.bold {
    font-weight: 700;
}