.info__section {
    width: 100%;
    height: auto;
}

.info__section-wrapper {
    width: 100%;
    height: auto;
}

.info__title {
    font-size: 50px;
    font-family: Prompt, sans-serif;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}

.info__text {
    font-size: 17px;
    font-weight: 400;
    margin-bottom: 20px;
}

.info__img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.info__text-center {
    text-align: center;
}

.info__title-small {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 20px;
}

.info__title-middle {
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 20px;
}

.margin__top {
    margin-top: 50px;
}