.review__section {
    width: 100%;
    height: auto;
}

.container {
}

.review__section-wrapper {
    width: 100%;
    height: auto;
}

.review__slider {
    width: 100%;
    height: auto;
    position: relative;
}

.review__slide {
}

.owl-nav {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 3;

    button {
        padding: 8px;

        span {
            font-size: 40px;
        }
    }
}

.owl-dots {
    width: 100%;
    height: auto;
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;


    button {
        width: 5px;
        height: 5px;
        border-radius: 100%;
        background-color: rgb(239, 239, 239) !important;
        margin-right: 5px;
        transition: 0.3s ease;

        &:last-child {
            margin-right: 0;
        }

        &.active {
            background-color: #000 !important;
        }
    }
}