.header__section {
    width: 100%;
    height: auto;
    overflow: hidden;
    padding-top: 10px;
    position: relative;

    &:before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-image: url(../img/header-bg.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        filter: brightness(101%) blur(1px);
    }
}

.header__title {
    font-family: "Paytone One", sans-serif;
    color: rgb(203, 1, 1);
    font-size: 28px;
    font-weight: normal;
    text-align: center;
    line-height: 1;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(240, 224, 17);
    margin-bottom: 20px;
    position: relative;
    z-index: 1;

    &:before {
        content: "";
        width: 290px;
        height: 3px;
        background-color: rgb(131, 1, 1);
        position: absolute;
        bottom: -15px;
        left: 50%;
        transform: translateX(-50%);
    }
}

.header__subtitle {
    font-family: "Play", sans-serif;
    color: rgb(255, 255, 255);
    font-size: 19px;
    font-weight: 700;
    text-align: center;
    line-height: 1.6;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(1, 1, 1);
    position: relative;
    z-index: 1;
    margin-bottom: 5px;
}

.header__text {
    font-family: "Paytone One", sans-serif;
    color: rgb(255, 255, 255);
    font-size: 18px;
    text-align: center;
    line-height: 1.6;
    text-shadow: rgb(232 226 48) 1px 1px 2px;
    -webkit-text-stroke: 1px rgb(255, 22, 22);
    margin-bottom: 340px;
    position: relative;
    z-index: 1;
}

.header__prod-1 {
    width: 340px;
    height: auto;
    position: absolute;
    bottom: 0px;
    right: -10px;
    animation: pulse 3s infinite;
}

.header__prod-2 {
    width: 180px;
    height: auto;
    position: absolute;
    bottom: 30px;
    left: 0px;
    animation: pulse 3s infinite;
}

.header__prod-3 {
    width: 120px;
    height: auto;
    position: absolute;
    bottom: -10px;
    left: 60px;
    animation: pulse 3s infinite;
}

.header__discount {
    position: absolute;
    bottom: -21px;
    left: 0;
    width: 90px;
    height: auto;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.fixed__btn-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    bottom: -10px;
    left: 0;
    z-index: 10;
    animation: pulse 3s infinite;
}

.btn__box {
    width: 120px;
    height: auto;
    position: relative;
    z-index: 2;
}

.btn__discount {
    color: rgb(255, 188, 1);
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    background-color: rgb(207, 1, 1);
    border-style: double;
    border-color: rgb(255, 255, 255);
    border-width: 4px;
    border-radius: 29px;
    padding: 2px 40px;
    padding-right: 30px;
    margin-left: -50px;
    margin-bottom: -20px;
}

.fixed__btn-right {
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: transparent;
    z-index: 10;
    animation: pulse 3s infinite;
}

.btn__loto {
    width: 130px;
    height: auto;
    animation: tada 3s infinite;
}

.btn__phone-1 {
    width: 50px;
    height: 50px;
    background-image: url(../img/btn-phone-1.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 175%;
    position: absolute;
    bottom: 5px;
    left: -10px;

}

.btn__phone-2 {
    width: 40px;
    height: auto;
    position: absolute;
    bottom: 5px;
    right: 0;
}