.card__section {
    width: 100%;
    height: auto;
    background: #FD7B0F;
}

.card__section-wrapper {
}
.card {
}
.card__logo {
}
.card__title {
}
.card__raiting {
}
.card__price {
}
.price {
}
.old__price {
}
.new__price {
}
.slider__wrapper {
}
.card__slider {
}
.card__slider-1 {
}
.owl-carousel {
}
.card__slide {
}
.slider__number {
}
.current__number {
}
.number {
}
.card__text {
}
.card__form {
}
.card__input-wrapper {
}
.card__input {
}
.card__select {
}
.order__btn {
}
.card__submit {
}
.header__date {
}
.date {
}