
.card_section__wrapper {
    padding: 100px 0;
}

.card {
    width: 100%;
    height: auto;
    border-radius: 50px;
    background: #23212A;
    margin-bottom: 80px;

    &:last-child {
        margin-bottom: 0;
    }
}

.card_1 {
}

.card_header {
}
.card_header__left {
}
.header_logo {
}
.card_header__title {
}
.card_header__rating {
}
.card_header__right {
}
.card_header__sert {
}
.card_price {
}
.price {
}
.old_price {
}
.new_price {
}
.header_timer {
}
.card_timer {
}
.header_timer__text {
}
.header_timer__wrapper {
}
.header_timer__item {
}
.header_timer__number {
}
.hours {
}
.header_timer__divider {
}
.minutes {
}
.seconds {
}
.card_center {
}
.card__prod {
}
.card_list {
}
.card_list__item {
}
.card_form {
}
.card_input__wrapper {
}
.card_input {
}
.order_btn {
}
.card_footer {
}
.card_info {
}
.header_info {
}