@import "fonts";
@import "main";
@import "modal";
@import "header";
@import "footer";


@media (max-width: 1280px) {
    .container {
        width: 1000px;
    }
    .bar {
        width: 780px;
        height: 350px;
    }
    .bar__item span {
        font-size: 80px;
    }
    .header__prod-box {
        width: 260px;
        top: 135px;
        left: -85px;
    }
    .prod__img {
        width: 350px;
    }
}

@media (max-width: 1080px) {
    .container {
        width: 700px;
    }
    .header__info {
        position: relative;
        top: 0;
        left: 0;
        margin-bottom: 12px;
    }
    .header__info-title {
        text-align: center;
    }
    .header__info-text {
        text-align: center;
    }
    .bar {
        width: 100%;
        height: 350px;
    }
    .header__prod-box {
        display: none;
    }
    .prod {
        position: relative;
        bottom: auto;
        right: auto;
        margin-bottom: 7px;
    }
    .header__section {
        background-color: #FFD146;
        background-position: left center;
    }
    .header__decor-5 {
        width: 110px;
        bottom: auto;
        top: 259px;
        left: 60px;
    }
    .header__decor-1 {
        bottom: 33px;
        left: auto;
        right: 0;
    }
    .header__decor-2 {
        top: -30px;
        left: 0px;
    }
    .header__decor-3 {
        top: 450px;
        left: auto;
        right: 180px;
    }
    .header__decor-4 {
        top: 340px;
        right: 50px;
    }
}

@media (max-width: 700px) {
    .container {
        width: calc(100vw - 30px);
    }
}

@media (max-width: 540px) {
    .header__section {
        background-image: url(../img/mobile-bg.jpg);
        background-position: center top;
        background-size: contain;
    }
    .header__section-wrapper {
        padding: 3.8vw 0 13vw;
    }
    .header__info-title {
        font-size: 8.5vw;
        margin-bottom: 1.5vw;
    }
    .header__info-text {
        font-size: 4.8vw;
    }
    .header__info {
        top: auto;
        left: auto;
        margin-bottom: 3vw;
    }
    .header__title {
        font-size: 8.8vw;
        margin-bottom: 0;
    }
    .header__subtitle {
        font-size: 5.5vw;
        margin-bottom: 0;
    }
    .header__text {
        font-size: 4.5vw;
        margin-bottom: 3vw;
    }
    .header__decor-2 {
        top: -4.8vw;
        left: -8vw;

        img {
            width: 26.8vw;
        }
    }
    .prod__img {
        width: 68vw;
    }
    .prod__decor-1 {
        width: 18vw;
        bottom: 1.4vw;
        left: -2vw;
    }
    .prod__decor-2 {
        width: 17.6vw;
        bottom: 10vw;
        left: 4.8vw;
    }
    .header__decor-5 {
        width: 17.4vw;
        top: 44vw;
        left: 0;
    }
    .header__decor-3 {
        top: 85vw;
        left: auto;
        right: 12vw;

        img {
            width: 19.5vw;
        }
    }
    .header__decor-4 {
        top: 66vw;
        right: -2vw;

        img {
            width: 12.8vw;
        }
    }
    .bar__info-text {
        font-size: 4.2vw;

        br {
            display: none;
        }
    }
    .bar__info {
        width: 84vw;
        padding: 2.4vw 4.8vw;
    }
    .bar {
        width: 100%;
        height: 45vw;
        border-radius: 3vw;
        border: 3px solid #00A3FF;
        margin-bottom: 4.8vw;
    }
    .divider {
        width: 3px;
    }
    .divider__1 {
        left: calc(33.33% - 3px);
    }
    .divider__2 {
        right: calc(33.33% - 3px);
    }
    .bar__item span {
        font-size: 9.5vw;
    }
    .divider__horizontal {
        height: 13.8vw;
    }
    .order__btn {
        position: relative;
        z-index: 2;
    }
    .header__decor-1 {
        z-index: auto;
        bottom: -2vw;
        left: auto;
        right: -12vw;

        img {
            width: 23.6vw;
        }
    }
    .fancybox-content {
        padding: 44px 20px;
    }
    .order__btn {
        padding: 4.5vw;
        font-size: 5.5vw;
    }
}