.header__section {
}

.container {
}

.header__section-wrapper {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 23px 0 38px;
    position: relative;
    z-index: 1;
}

.header__logo {
    width: 165px;
    height: auto;
    margin-bottom: 34px;
}

.header__title {
    font-weight: 700;
    font-size: 64px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 20px;
    text-align: center;
    position: relative;

    &:before {
        content: "";
        width: 100vw;
        height: 1px;
        background-color: #000000;
        position: absolute;
        top: -10px;
        left: 50%;
        transform: translateX(-50%);
    }
}

.header__subtitle {
    font-weight: 700;
    font-size: 50px;
    font-style: italic;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #A72A48;
    margin-bottom: 30px;
}

.header__subtitle-2 {
    font-weight: 600;
    font-size: 50px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 10px;
    text-align: center;
    margin-left: 72px;
}

.header__prod {
    font-weight: 700;
    font-size: 90px;
    font-style: italic;
    letter-spacing: 0.05em;
    color: #A72A48;
    text-align: center;
}

.order__btn {
    font-weight: 500;
    font-size: 30px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
    display: inline-block;
    padding: 22px 57px;
    background: #A72A48;
    cursor: pointer;
    transition: 0.3s ease;
    border: 2px solid #A72A48;

    &:hover {
        background: #fff;
        color: #000000;
    }
}

.header__date {
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.1em;
    color: #000000;
    text-align: center;
    margin-top: 10px;

    span {
        font-weight: 700;
    }
}

.header__block {
    width: 100%;
    height: 380px;
    position: relative;
    margin-top: -67px;
    margin-bottom: -46px;
    z-index: -1;
}

.header__block-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
}

.header__bg {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    height: 380px;
}

.header__discount {
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #000000;
    background: #869581;
    padding: 12px 42px;
    width: auto;
    height: auto;
    position: absolute;
    top: 117px;
    left: 236px;

    span {
        display: inline-block;
    }
}

.header__img {
    position: absolute;
    height: auto;
    // transition: 6s ease;
    // animation: header 12s infinite;
}

.header__img-1 {
    width: 300px;
    transform: rotate(-14.22deg);
    left: 0;
    top: 63px;
}

.header__img-2 {
    width: 300px;
    transform: rotate(15deg);
    top: -190px;
    right: -10px;
    animation-delay: 4s;
}

.header__img-3 {
    width: 350px;
    transform: rotate(5deg);
    top: 177px;
    right: -87px;
    animation-delay: 8s;
}

@keyframes header {
    50% {
        transform: rotate(0deg);
    }
}

.header__decor {
    height: auto;
    position: absolute;
}

.header__decor-1 {
    width: 758px;
    top: -503px;
    right: -250px;
    z-index: -1;
}

.header__decor-2 {
    width: 364px;
    top: -126px;
    right: 140px;
}