@font-face {
    font-family: 'Open Sans';
    src: url("../fonts/OpenSans-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url("../fonts/OpenSans-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "flex-icon";
    src: url("../fonts/flex-icon.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

// @font-face {
//     font-family: flex-icon;
//     src: url(//cdn.shopify.com/s/files/1/0355/9089/7800/t/24/assets/flex-icon.ttf?v=141001306366886470981656395085) format("truetype"),url(//cdn.shopify.com/s/files/1/0355/9089/7800/t/24/assets/flex-icon.woff?v=65562972783189949211656395086) format("woff"),url(//cdn.shopify.com/s/files/1/0355/9089/7800/t/24/assets/flex-icon.svg?v=122155750794120575381656395085) format("svg");
//     font-weight: 400;
//     font-style: normal;
//     font-display: block
// }

