.header__section {
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.header__section-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0 46px;
}

.header__logo {
    width: 198px;
    height: auto;
    margin-bottom: 20px;
}

.header__logo-2 {
    width: 316px;
    height: auto;
    margin-bottom: 18px;
}

.header__title {
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    background: linear-gradient(135deg, #E43625 0%, #FFA700 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

.header__text {
    color: #FFF;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
}

.spiner {
    width: 394px;
    height: 394px;
    margin: 42px 0 24px;
    position: relative;

    &:before {
        content: '';
        width: 500px;
        height: 510px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-image: url(../img/circle.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}

.spin {
    width: 194px;
    height: 194px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    cursor: pointer;

    span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #FFF;
        text-align: center;
        font-size: 20px;
        font-weight: 600;
        letter-spacing: 1px;
        text-transform: uppercase;
    }

    &:before {
        content: "";
        width: 300px;
        height: 300px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-image: url(../img/spin-bg.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        pointer-events: none;
    }

    img {
        width: 216px;
        height: auto;
        position: relative;
        z-index: 1;
    }
}

.header__info {
    color: #FFF;
    text-align: center;
    font-size: 20px;
    line-height: 1.2;

    span {
        color: #FFA700;
        font-weight: 700;
    }
}

.spiner__block {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
    pointer-events: none;
    transition: 3s ease;
    // transform: rotate(-1215deg);
    // transform: rotate(-2475deg);
    // transform: rotate(3600deg);
}

.spiner__item {
    position: absolute;
    width: 188px;
    height: auto;
}

.spiner__item-1 {
    left: 50%;
    top: -3%;
    transform: translateX(-50%);
}

.spiner__item-2 {
    right: 0.5%;
    top: 7%;
    transform: rotate(45deg);
}

.spiner__item-3 {
    right: -10%;
    top: 50%;
    transform: translateY(-50%) rotate(90deg);
}

.spiner__item-4 {
    right: 0.5%;
    bottom: 7%;
    transform: rotate(135deg);
}

.spiner__item-5 {
    left: 50%;
    bottom: -3%;
    transform: translateX(-50%) rotate(180deg);
}

.spiner__item-6 {
    left: 0.5%;
    bottom: 7%;
    transform: rotate(-135deg);
}

.spiner__item-7 {
    left: -10%;
    top: 50%;
    transform: translateY(-50%) rotate(-90deg);
}

.spiner__item-8 {
    left: 0.5%;
    top: 7%;
    transform: rotate(-45deg);
}

.spin__finish {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
}

.spin__finish-text {
    color: #FFF;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    margin-top: 80px;
}

.spin__finish-img {
    width: 340px;
    height: auto;
    margin-top: -80px;
}