@import "fonts";
@import "main";
@import "header";
@import "galary";
@import "bar";
@import "card";
@import "review";
@import "footer";
@import "modal";

@media (max-width: 1480px) {
    .header__content {
        width: 500px;
    }
    .header__title {
        font-size: 40px;
    }
    .header__block-left {
        width: 460px;
        height: 480px;
        top: 60px;
        left: -450px;
    }
    .header__block-right {
        width: 460px;
        height: 496px;
        top: 40px;
        right: -450px;
    }
    .header__decor-1 {
        top: -70px;
        left: -200px;
        width: 500px;
    }
    .header__decor-2 {
        top: -103px;
        right: -270px;
        width: 600px;
    }
}

@media (max-width: 1280px) {
    .container {
        width: 1000px;
    }
    .header__content {
        width: 440px;
    }
    .header__title {
        font-size: 34px;
    }
    .header__block-left {
        width: 400px;
        height: 425px;
        top: 60px;
        left: -400px;
    }
    .header__block-right {
        width: 400px;
        height: 440px;
        top: 40px;
        right: -400px;
    }
    .header__boot-1 {
        width: 450px;
    }
    .header__boot-2 {
        width: 440px;
    }
    .header__advantages {
        padding: 30px 50px 40px;
    }
    .header__advantage-icon {
        width: 100px;
        height: 100px;

        img {
            width: 50%;
            height: auto;
        }
    }
    .galary__slider {
        width: 1050px;
        left: -480px;
    }
    .galary__block {
        width: 400px;
    }
    .bar__decor-2 {
        top: 0px;
        right: -300px;
        width: 600px;
    }
    .bar__boot {
        bottom: 0;
        left: -130px;
        width: 320px;
    }
    .bar__decor-1 {
        top: auto;
        left: -500px;
        width: 700px;
        bottom: 50px;
    }
    .card {
        padding: 40px;
    }
    .card__block {
        width: 400px;
    }
    .card__discount {
        font-size: 18px;
    }
    .card__column {
        width: 190px;
    }
    .card__text {
        font-size: 16px;
    }
    .card__size-text, .card__color-text {
        font-size: 16px;
    }
    .card__imgs-block {
        width: 470px;
        left: -510px;
    }
    .card__input {
        padding: 10px 20px;
    }
    .card__submit {
        padding: 15px;
    }
    .card__date {
        font-size: 18px;
    }
    .card__size-btn {
        width: 30px;
        height: 30px;
    }
    .card__size-btn-text {
        font-size: 14px;
    }
    .card__color-btn {
        width: 30px;
        height: 30px;
    }
}

@media (max-width: 1080px) {
    .container {
        width: 700px;
    }
    .header__decor-1 {
        top: -98px;
        left: -190px;
        width: 440px;
    }
    .header__block {
        position: relative;
        top: auto;
        left: auto;
        right: auto;
        margin-bottom: 30px;
    }
    .header__content {
        width: 100%;
    }
    .header__title {
        font-size: 44px;
    }
    .header__block-left {
        width: 100%;
        height: 740px;
    }
    .header__block-right {
        width: 100%;
        height: 780px;
        margin-bottom: 150px;
    }
    .header__boot-1 {
        left: 30%;
    }
    .header__boot-2 {
        left: 70%;
    }
    .header__advantages {
        flex-direction: column;
        align-items: center;
        padding: 50px;
    }
    .header__advantage {
        width: 100%;
        margin-bottom: 35px;

        &:last-child {
            margin-bottom: 0;
        }
    }
    .header__advantage-icon {
        width: 110px;
        height: 110px;

        img {
            width: auto;
        }
    }
    .header__decor-2 {
        top: -162px;
        right: -192px;
        width: 640px;
    }
    .galary__section-wrapper {
        flex-direction: column;
        align-items: center;
    }
    .galary__section:before {
        display: none;
    }
    .galary__slider {
        position: relative;
        left: auto;
        bottom: auto;
        width: 80%;
        height: auto;
    }
    .galary__slide {
        width: 100%;
    }
    .galary__slider .owl-nav {
        width: calc(100% - 40px);
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
    }
    .galary__slider .owl-dots {
        margin-top: -20px;
        margin-bottom: 83px;
    }
    .galary__block {
        width: 100%;
        height: auto;
        background: linear-gradient(93.55deg, #663672 0%, #AA5AAF 100%);
        border-radius: 50px;
        padding: 43px 20px 50px;
        align-items: center;
    }
    .bar__decor-2 {
        top: 130px;
        right: -285px;
        width: 480px;
    }
    .bar__title {
        font-size: 40px;
    }
    .bar__decor-1 {
        left: -300px;
        width: 500px;
        bottom: 50px;
    }
    .bar__boot {
        bottom: 25px;
        left: -130px;
        width: 280px;
    }
    .bar__item {
        font-size: 76px;
    }
    .bar {
        height: 340px;
    }
    .card__imgs-block {
        width: 100%;
        left: auto;
        top: auto;
        position: relative;
        margin-bottom: 20px;
    }
    .card__block {
        width: 100%;
    }
    .card__title {
        justify-content: center;
    }
    .card__price .price {
        justify-content: center;
    }
    .card__discount {
        font-size: 20px;
        text-align: center;
    }
    .card__column {
        width: calc(50% - 20px);
    }
    .card__text {
        font-size: 20px;
    }
    .card__size-text, .card__color-text {
        font-size: 20px;
    }
    .card__size-btn {
        width: 34px;
        height: 34px;
    }
    .card__size-btn-text {
        font-size: 16px;
    }
    .card__color-btn {
        width: 34px;
        height: 34px;
    }
    .card__input {
        padding: 15px 20px;
    }
    .card__submit {
        padding: 20px;
    }
    .card__date {
        font-size: 20px;
    }
    .card__decor {
        transform: scaleX(-1) rotate(130deg);
        top: 1006px;
        right: -200px;
        z-index: -1;
    }
    .sprey {
        margin-top: 114px;
        padding: 40px 230px 40px 50px;
    }
    .sprey__decor {
        bottom: -140px;
        left: -390px;
        width: 500px;
    }
    .sprey__title {
        font-size: 28px;
        margin-bottom: 14px;
    }
    .spray__text {
        font-size: 20px;
        margin-bottom: 13px;
    }
    .review__slider-wrapper {
        padding: 0;
        padding-top: 30px;
    }
    .review__decor {
        left: 50%;
        transform: translateX(-50%);
        width: 69px;
        height: 60px;
        z-index: 5;
        border-radius: 20px;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            height: 20px;
            width: auto;
        }
    }
    .review__slide {
        padding: 49px 20px 48px;
    }
    .review__slider .owl-nav {
        width: calc(100% - 50px);
        position: relative;
        left: auto;
        top: auto;
        transform: none;
        margin: auto;
        margin-top: 20px;
    }
    .review__slider .owl-dots {
        margin-top: -80px;
        margin-bottom: 50px;
    }
    .add__review {
        align-self: center;
        font-size: 16px;
        margin-right: 0px;
        z-index: 5;
    }
    .review__title {
        font-size: 40px;
    }
    .footer__section-wrapper .header__boots {
        display: block;
    }
    .footer__section-wrapper .header__block-right {
        margin-bottom: 26px;
    }
    .footer__section-wrapper {
        padding-bottom: 50px;
    }
    .footer__line-list {
        flex-wrap: wrap;
        justify-content: space-around;
    }
}

@media (max-width: 700px) {
    .container {
        width: calc(100% - 30px);
    }
    .header__decor-1 {
        top: -55px;
        left: -80px;
        width: 320px;
    }
    .header__block-left {
        height: 100vw;
    }
    .header__block-right {
        height: 102vw;
    }
    .header__boot-1 {
        left: 33%;
        width: 60vw;
    }
    .header__boot-2 {
        left: 67%;
        width: 60vw;
    }
    .header__decor-2 {
        top: -21vw;
        right: -5vw;
        width: 72vw;
    }
    .galary__slider {
        width: 100%;
    }
    .header__section-wrapper {
        padding: 28px 0 70px;
        z-index: 1;
    }
    .galary__section-wrapper {
        position: relative;

        &:before {
            content: "";
            width: 300px;
            height: 240px;
            background-image: url(../img/bar-decor-1.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            position: absolute;
            top: -135px;
            left: -70px;
        }
    }
    .bar__item {
        font-size: 11vw;
    }
    .bar__title {
        font-size: 38px;
    }
    .bar {
        height: 48vw;
    }
    .bar__section-wrapper {
        z-index: 1;
    }
    .bar__decor-2 {
        top: 160px;
        right: -140px;
        width: 390px;
        z-index: -1;
    }
    .bar__boot {
        bottom: auto;
        top: 190px;
        left: -60px;
        width: 230px;
        z-index: -1;
    }
    .bar__title {
        font-size: 44px;
    }
    .bar__decor-1 {
        left: -180px;
        width: 400px;
        bottom: auto;
        top: -200px;
        z-index: -1;
    }
    .galary__block {
        position: relative;
        z-index: 2;
    }
}

@media (max-width: 540px) {
    .header__decor-1 {
        top: -12vw;
        left: -10vw;
        width: 54vw;
    }
    .header__logo {
        width: 50vw;
        margin-bottom: 5vw;
    }
    .header__section-wrapper {
        padding: 30px 0 70px;
    }
    .header__title {
        font-size: 7.5vw;
        margin-bottom: 3.5vw;
    }
    .header__discount {
        width: 82vw;
        height: 28vw;
        margin-bottom: 2vw;
    }
    .order__btn {
        width: 100%;
        padding: 20px;
        font-size: 4.8vw;
    }
    .header__date {
        font-size: 4.8vw;
    }
    .header__boots {
        margin: 19vw 0;
    }
    .header__block-right {
        margin-bottom: 30vw;
    }
    .header__decor-2 {
        top: -28vw;
        right: -10vw;
        width: 88vw;
        transform: rotate(-12deg);
    }
    .header__advantages {
        padding: 12vw;
    }
    .header__advantage {
        margin-bottom: 8vw;
    }
    .header__advantage-text {
        font-size: 5.8vw;
    }
    .header__discount-text {
        top: 3.8vw;
        font-size: 8vw;
    }
    .galary__section-wrapper:before {
        top: -36vw;
        width: 70vw;
        height: 56vw;
        left: -18vw;
    }
    .galary__slider .owl-dots {
        margin-bottom: 20vw;
    }
    .galary__text {
        font-size: 4.8vw;
        margin-bottom: 4vw;
    }
    .galary__block {
        padding: 10vw 4.8vw 11vw;
    }
    .bar__title {
        font-size: 8vw;
        margin-bottom: 6vw;
    }
    .bar {
        border: 4px solid #80D135;
        border-radius: 20px;
    }
    .bar__column__1:before, .bar__column__2:before {
        width: 3px;
        right: -1px;
    }
    .bar__item {
        font-size: 9vw;
    }
    .bar {
        height: 42vw;
    }
    .bar__item-top {
        transform: translate(-50%, -190%) rotate(1deg) scale(0.8);
    }
    .bar__item-bottom {
        transform: translate(-50%, 90%) rotate(1deg) scale(0.8);
    }
    .bar__section-wrapper {
        padding: 60px 0 50px;
    }
    .bar__decor-1 {
        left: -27vw;
        width: 72vw;
        top: -41vw;
    }
    .bar__decor-2 {
        top: 30vw;
        right: -30vw;
        width: 70vw;
    }
    .bar__boot {
        top: 32vw;
        left: -12vw;
        width: 43vw;
    }
    .bar__modal-title {
        font-size: 11vw;
    }
    .bar__modal-text {
        font-size: 7vw;
        margin-bottom: 20px;
    }
    .bar__modal-text span {
        font-size: 8vw;
    }
    .card {
        padding: 12vw 4.8vw 11vw;
    }
    .card__title img {
        height: 7.3vw;
        margin-right: 2vw;
    }
    .card__title {
        font-size: 10vw;
    }
    .new__price {
        font-size: 7.5vw;
        margin-right: 7vw;
    }
    .old__price {
        font-size: 6vw;
    }
    .card__discount {
        font-size: 4.8vw;
        margin-bottom: 6vw;
    }
    .card__main-foto {
        margin-bottom: 10px;
    }
    .card__foto {
        width: 31.5%;
        margin-bottom: 10px;
    }
    .card__other-foto {
        flex-wrap: wrap;
    }
    .card__imgs-block {
        margin-bottom: 10px;
    }
    .card__foto:hover {
        transform: none;
    }
    .card__columns {
        flex-direction: column;
        align-items: center;
    }
    .card__column {
        width: 100%;
    }
    .card__size {
        margin-bottom: 9px;
    }
    .card__color {
        margin-bottom: 20px;
    }
    .card__text {
        font-size: 4.5vw;
    }
    .card__size-text, .card__color-text {
        font-size: 4.5vw;
    }
    .card__size-btn {
        width: 12vw;
        height: 12vw;
    }
    .card__color-btn {
        width: 12vw;
        height: 12vw;
    }
    .card__input-wrapper {
        width: 100%;
        margin-bottom: 10px;
    }
    .card__submit {
        margin-top: 10px;
    }
    .card__input {
        padding: 4vw 4.8vw;
    }
    .card__submit {
        padding: 4.8vw;
    }
    .card__date {
        font-size: 4.8vw;
    }
    .card__decor {
        top: 328vw;
        right: -6vw;
        width: 92vw;
    }
    .card {
        margin-bottom: 50px;
    }
    .sprey {
        margin-top: 40vw;
        padding: 64vw 4.8vw 11vw;
    }
    .sprey__img {
        top: 13%;
        right: auto;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 48vw;
    }
    .sprey__title {
        font-size: 7.5vw;
        text-align: center;
        margin-bottom: 2px;
    }
    .spray__text {
        font-size: 23px;
        margin-bottom: 13px;
        text-align: center;
    }
    .sprey__price .price {
        justify-content: center;
    }
    .sprey__decor {
        bottom: 92vw;
        left: -2vw;
        width: 100vw;
        transform: rotate(101deg) scaleY(-1);
    }
    .review__slider .owl-dots {
        margin-top: -85px;
        margin-bottom: 50px;
    }
    .review__slide {
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(93.55deg, #FFD600 0%, #FFB800 100%);
    }
    .review__section-wrapper {
        padding-bottom: 60px;
    }
    .review__title {
        font-size: 8vw;
        margin-bottom: 6vw;
    }
    .card__section-wrapper {
        padding: 50px 0 60px;
    }
    .footer__decor-1 {
        bottom: -5vw;
        left: -24vw;
        width: 90vw;
    }
    .footer__decor-2 {
        bottom: auto;
        top: 60vw;
        right: -30vw;
        width: 76vw;
        transform: rotate(12deg);
    }
    .fancybox-content {
        padding: 20px 15px;
    }
}

@media (max-width: 320px) {
    .card__decor {
        top: 348vw;
        right: -6vw;
        width: 92vw;
    }
    .sprey__decor {
        bottom: 122vw;
        left: -2vw;
        width: 100vw;
    }
}