@import "fonts";
@import "main";
@import "header";
@import "galary";
@import "bar";
@import "card";
@import "review";
@import "footer";
@import "modal";

@media (max-width: 1480px) {
    .header__content {
        width: 500px;
    }
    .header__title {
        font-size: 40px;
    }
    .header__block-left {
        width: 460px;
        height: 480px;
        top: 60px;
        left: -450px;
    }
    .header__block-right {
        width: 460px;
        height: 496px;
        top: 40px;
        right: -450px;
    }
    .header__decor-1 {
        top: -70px;
        left: -200px;
        width: 500px;
    }
    .header__decor-2 {
        top: -103px;
        right: -270px;
        width: 600px;
    }
}

@media (max-width: 1280px) {
    .container {
        width: 1000px;
    }
    .header__content {
        width: 440px;
    }
    .header__title {
        font-size: 34px;
    }
    .header__block-left {
        width: 400px;
        height: 425px;
        top: 60px;
        left: -400px;
    }
    .header__block-right {
        width: 400px;
        height: 440px;
        top: 40px;
        right: -400px;
    }
    .header__boot-1 {
        width: 450px;
    }
    .header__boot-2 {
        width: 440px;
    }
    .header__advantages {
        padding: 30px 50px 40px;
    }
    .header__advantage-icon {
        width: 100px;
        height: 100px;

        img {
            width: 50%;
            height: auto;
        }
    }
    .galary__slider {
        width: 1050px;
        left: -480px;
    }
    .galary__block {
        width: 400px;
    }
}

@media (max-width: 1080px) {
    .container {
        width: 700px;
    }
    .header__decor-1 {
        top: -98px;
        left: -190px;
        width: 440px;
    }
    .header__block {
        position: relative;
        top: auto;
        left: auto;
        right: auto;
        margin-bottom: 30px;
    }
    .header__content {
        width: 100%;
    }
    .header__title {
        font-size: 44px;
    }
    .header__block-left {
        width: 100%;
        height: 740px;
    }
    .header__block-right {
        width: 100%;
        height: 780px;
        margin-bottom: 150px;
    }
    .header__boot-1 {
        left: 30%;
    }
    .header__boot-2 {
        left: 70%;
    }
    .header__advantages {
        flex-direction: column;
        align-items: center;
        padding: 50px;
    }
    .header__advantage {
        width: 100%;
        margin-bottom: 35px;

        &:last-child {
            margin-bottom: 0;
        }
    }
    .header__advantage-icon {
        width: 110px;
        height: 110px;

        img {
            width: auto;
        }
    }
    .header__decor-2 {
        top: -162px;
        right: -192px;
        width: 640px;
    }
    .galary__section-wrapper {
        flex-direction: column;
        align-items: center;
    }
    .galary__section:before {
        display: none;
    }
    .galary__slider {
        position: relative;
        left: auto;
        bottom: auto;
        width: 80%;
        height: auto;
    }
    .galary__slide {
        width: 100%;
    }
    .galary__slider .owl-nav {
        width: calc(100% - 40px);
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
    }
    .galary__slider .owl-dots {
        margin-top: -20px;
        margin-bottom: 83px;
    }
    .galary__block {
        width: 100%;
        height: auto;
        background: linear-gradient(93.55deg, #663672 0%, #AA5AAF 100%);
        border-radius: 50px;
        padding: 43px 20px 50px;
        align-items: center;
    }
}

@media (max-width: 700px) {
    .container {
        width: calc(100% - 30px);
    }
    .header__decor-1 {
        top: -55px;
        left: -80px;
        width: 320px;
    }
    .header__block-left {
        height: 103vw;
    }
    .header__block-right {
        height: 106vw;
    }
    .header__boot-1 {
        left: 33%;
        width: 60vw;
    }
    .header__boot-2 {
        left: 67%;
        width: 60vw;
    }
    .header__decor-2 {
        top: -21vw;
        right: -5vw;
        width: 72vw;
    }
    .galary__slider {
        width: 100%;
    }
    .header__section-wrapper {
        padding: 28px 0 70px;
        z-index: 1;
    }
    .galary__section-wrapper {
        position: relative;

        &:before {
            content: "";
            width: 300px;
            height: 240px;
            background-image: url(../img/bar-decor-1.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            position: absolute;
            top: -135px;
            left: -70px;
        }
    }
}

@media (max-width: 540px) {
    .header__decor-1 {
        top: -12vw;
        left: -10vw;
        width: 54vw;
    }
    .header__logo {
        width: 50vw;
        margin-bottom: 5vw;
    }
    .header__section-wrapper {
        padding: 30px 0 70px;
    }
    .header__title {
        font-size: 7.5vw;
        margin-bottom: 3.5vw;
    }
    .header__discount {
        width: 82vw;
        height: 28vw;
        margin-bottom: 2vw;
    }
    .order__btn {
        width: 100%;
        padding: 20px;
        font-size: 4.8vw;
    }
    .header__date {
        font-size: 4.8vw;
    }
    .header__boots {
        margin: 19vw 0;
    }
    .header__block-right {
        margin-bottom: 30vw;
    }
    .header__decor-2 {
        top: -28vw;
        right: -10vw;
        width: 88vw;
        transform: rotate(-12deg);
    }
    .header__advantages {
        padding: 12vw;
    }
    .header__advantage {
        margin-bottom: 8vw;
    }
    .header__advantage-text {
        font-size: 5.8vw;
    }
    .header__discount-text {
        top: 3.8vw;
        font-size: 8vw;
    }
    .galary__section-wrapper:before {
        top: -36vw;
        width: 70vw;
        height: 56vw;
        left: -18vw;
    }
    .galary__slider .owl-dots {
        margin-bottom: 20vw;
    }
    .galary__text {
        font-size: 4.8vw;
        margin-bottom: 4vw;
    }
    .galary__block {
        padding: 10vw 4.8vw 11vw;
    }
}